.sticky {
  position: fixed;
  top: 0;
}

.themed-container {
  background-color: var(--clr-primary-theme);
}

button.pictogram {
  border-radius: 15%;
}

button.pictogram.sm {
  width: 2.25rem;
  aspect-ratio: 1;
}

button.hybrid {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button.hybrid.sm {
  height: 2.25rem;
  padding: 0 1rem;
  font-weight: 700;
  border-radius: 0.4rem;
}

button.light,
button.dark.inverted {
  color: var(--clr-text-light);
}

button.light.inverted {
  background-color: var(--clr-text-light);
}

button.dark {
  color: var(--clr-text-neutral-dark);
}

button.dark.inverted {
  background-color: var(--clr-text-neutral-dark);
}

button.themed {
  color: var(--clr-primary-theme);
}

button.themed.inverted {
  color: var(--clr-text-light);
  background-color: var(--clr-primary-theme);
}

:is(.themed-container) button.inverted {
  color: var(--clr-primary-theme);
}

button:hover {
  background-image: linear-gradient(rgba(0 0 0 / 0.25), rgba(0 0 0 / 0.25));
}

button:disabled {
  color: var(--clr-disabled);
}

button.inverted:disabled {
  background-color: var(--clr-disabled);
}

button:hover:disabled {
  background-image: none;
}
