/* Main HEADER */
#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  padding: 0 var(--padding);
  background-color: var(--clr-header);
  border-bottom: 1px solid var(--clr-border-light);
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.main-logo svg {
  width: 2.8rem;
  height: 2.8rem;
}

.main-logo p {
  font-family: 'Prompt', sans-serif;
  font-size: 2.2rem;
  color: var(--clr-logo);
}

.dashboard-controls {
  display: flex;
  gap: var(--button-gap);
}

/* Main CONTAINER */
#app-container {
  width: min(100%, 80rem);
  padding: 0 var(--padding);
  margin-block-end: calc(var(--padding) * 2);
}

.sticky + #app-container {
  padding-top: var(--header-height);
}

/* __header */
#app-container__header {
  color: var(--clr-text-neutral-dark);
  padding: calc(3 * var(--padding)) 0 calc(3 * var(--padding)) 0;
}

#general-progress {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#general-progress__indicator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-disabled);
  border-radius: 50%;
}

#general-progress__indicator::before {
  content: '';
  position: absolute;
  inset: 5px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

#general-progress__indicator svg {
  width: 72px;
  transform: rotate(-90deg);
}

.progress-indicator {
  --value: 113;
  fill: none;
  stroke-width: 4px;
  stroke: var(--clr-primary-theme);
  stroke-dasharray: 113;
  stroke-dashoffset: var(--value);
  transition: all 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#general-progress__value {
  position: absolute;
  font-weight: 700;
  z-index: 2;
}

/* __controls */
#app-container__controls {
  padding: calc(1.33 * var(--padding)) var(--padding);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

/* __add-todo-dialog */
#app-container__add-todo-dialog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: var(--padding);
}

#app-container__add-todo-dialog.hidden {
  display: none;
}

#add-todo-dialog__input {
  resize: none;
  padding: var(--padding);
  font-weight: 700;
  color: var(--clr-text-neutral-dark);
  border: 2px solid var(--clr-border-light);
}

#add-todo-dialog__controls {
  display: flex;
  gap: var(--button-gap);
}

/* __todo-list */
#app-container__todo-list {
  position: relative;
  min-height: 8rem;
  padding: var(--padding);
  background-color: var(--clr-primary-background);
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.no-todos-placeholder {
  padding: 4rem 0;
  text-align: center;
  color: var(--clr-text-neutral-dark);
}

.todo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: var(--padding);
  overflow: hidden;
  color: var(--clr-text-dark);
  background-color: var(--clr-secondary-background);
  border-radius: 0.4rem;
}

.todo + .todo {
  margin-top: var(--padding);
}

.todo-content {
  width: 100%;
}

.todo-text {
  overflow-wrap: break-word;
  font-size: 1.125rem;
  font-weight: 500;
}

:where([editing='']) .todo-text,
.todo-text:focus {
  outline: none;
  padding-bottom: 0.6rem;
  border-bottom: 2px solid var(--clr-primary-theme);
}

:where([status='complete']) .todo-text {
  color: var(--clr-disabled);
}

.todo-edit-controls {
  display: none;
}

:where([editing='']) .todo-edit-controls {
  display: flex;
  gap: var(--button-gap);
  margin-block-start: 1rem;
}

.todo-controls {
  flex: 1 0;
  display: flex;
  gap: var(--button-gap);
}

[role='delete-button'] {
  margin-inline-start: auto;
}

/* Main FOOTER */
#app-footer {
  margin-block-start: auto;
  width: 100%;
  padding: 1.5rem var(--padding);
  font-weight: 500;
  color: var(--clr-text-neutral-dark);
  background-color: var(--clr-footer);
  border-top: 1px solid var(--clr-border-light);
}
