<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c88cab4bc.js" crossorigin="anonymous"></script>
    <script src="../models/Todo.js"></script>
    <script src="../views/Todo.js"></script>
    <script src="../models/TodoList.js"></script>
    <script src="../views/TodoList.js"></script>
    <script src="./scripts/variables.js" defer></script>
    <script src="./scripts/main.js" defer></script>
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/main-mobile.css">
    <link rel="stylesheet" href="./styles/main-tablet.css">
    <link rel="stylesheet" href="./styles/main-desktop.css">
    <link rel="stylesheet" href="./styles/helpers.css">
    <title>wittd</title>
</head>

<body>
    <header id="app-header" class="sticky">
        <div class="main-logo">wittd</div>
        <div class="dashboard-controls">
            <div id="account-controls">
                <button id="account-controls__toggle" class="pictogram sm dark">
                    <i class="fa-solid fa-user"></i>
                </button>
            </div>
            <div id="dashboard-menu">
                <button id="dashboard-menu__toggle" class="pictogram sm dark">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </header>
    <main id="app-container">
        <div id="app-container__header">
            <div id="general-progress">
                <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                    <circle class="progress-indicator" cx="20" cy="20" r="18" />
                </svg>
                <h3>Completed from total</h3>
            </div>
        </div>
        <div id="app-container__controls" class="themed-container">
            <button id="add-todo-dialog__toggle" class="hybrid sm light">
                <i class=" fa-solid fa-pen-to-square"></i>Add a TODO
            </button>
        </div>
        <div id="app-container__add-todo-dialog" class="hidden">
            <textarea name="add-todo-dialog__input" id="add-todo-dialog__input" cols="30" rows="10"></textarea>
            <div id="add-todo-dialog__controls">
                <button id="add-todo-button" class="hybrid sm themed inverted" disabled>Add New TODO</button>
                <button id="add-todo-dialog__close" class="hybrid sm dark">Cancel</button>
            </div>
        </div>
        <div id="app-container__todo-list">
            <div class="todo">
                <div class="todo-content">
                    <p class="todo-text">This is the content of the TODO and it could even be longer! Lorem ipsum dolor
                        sit amet consectetur.</p>
                </div>
                <div class="todo-controls">
                    <button class="hybrid sm themed inverted" role="complete-button">
                        <i class="fa-solid fa-check"></i>
                        <span class="complete-status">Complete</span>
                    </button>
                    <button class="pictogram sm dark" role="edit-button">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="pictogram sm dark" role="delete-button">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyright">&copy by Mihai Dragan</div>
    </footer>
</body>

</html>